@use "breakpoints" as *;

.dashGrid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  margin-top: 16px;

  @include respond-to("lg") {
    grid-template-columns: 1fr;
  }
}

.col {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 0;
}
